Ofek/Service References/Invoice4U_LoginService/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Invoice" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Invoice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Invoice/Imports">
      <xsd:import schemaLocation="http://private.invoice4u.co.il/Services/LoginService.svc?xsd=xsd0" namespace="Invoice" />
      <xsd:import schemaLocation="http://private.invoice4u.co.il/Services/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://private.invoice4u.co.il/Services/LoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Invoice.Common" />
      <xsd:import schemaLocation="http://private.invoice4u.co.il/Services/LoginService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Invoice.Common.Enums" />
      <xsd:import schemaLocation="http://private.invoice4u.co.il/Services/LoginService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LoginService_VerifyLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyLogin" />
  </wsdl:message>
  <wsdl:message name="LoginService_VerifyLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyLoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginService_IsAuthenticated_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAuthenticated" />
  </wsdl:message>
  <wsdl:message name="LoginService_IsAuthenticated_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAuthenticatedResponse" />
  </wsdl:message>
  <wsdl:message name="LoginService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LoginService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginService">
    <wsdl:operation name="VerifyLogin">
      <wsdl:input wsaw:Action="Invoice/LoginService/VerifyLogin" message="tns:LoginService_VerifyLogin_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/LoginService/VerifyLoginResponse" message="tns:LoginService_VerifyLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAuthenticated">
      <wsdl:input wsaw:Action="Invoice/LoginService/IsAuthenticated" message="tns:LoginService_IsAuthenticated_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/LoginService/IsAuthenticatedResponse" message="tns:LoginService_IsAuthenticated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="Invoice/LoginService/Logout" message="tns:LoginService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/LoginService/LogoutResponse" message="tns:LoginService_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>