Ofek/Service References/Invoice4U_CustomerService/CustomerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Invoice" elementFormDefault="qualified" targetNamespace="Invoice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://private.invoice4u.co.il/Services/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Invoice.Common" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="customer" nillable="true" type="q1:Customer" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="CreateResult" nillable="true" type="q2:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="GetResult" nillable="true" type="q3:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsPaymentDetailes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsPaymentDetailesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="GetClientsPaymentDetailesResult" nillable="true" type="q4:PaymentDetailes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Autocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="q" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
        <xs:element minOccurs="0" name="onlyActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="AutocompleteResult" nillable="true" type="q5:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutocompleteMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="q" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
        <xs:element minOccurs="0" name="onlyActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutocompleteMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="AutocompleteMobileResult" nillable="true" type="q6:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="cust" nillable="true" type="q7:Customer" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="GetCustomersResult" nillable="true" type="q8:CommonCollectionOfArrayOfCustomerJHiVxprS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExternalNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="cust" nillable="true" type="q9:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExternalNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="UpdateExternalNumberResult" nillable="true" type="q10:CommonCollectionOfArrayOfCustomerJHiVxprS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="GetByNameResult" nillable="true" type="q11:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="customers" nillable="true" type="q12:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="DeleteResult" nillable="true" type="q13:CommonObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Invoice.Common" minOccurs="0" name="GetByGuidResult" nillable="true" type="q14:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>