Ofek/Service References/Invoice4U_CustomerService/CustomerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Invoice" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Invoice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Invoice/Imports">
      <xsd:import schemaLocation="http://private.invoice4u.co.il/Services/CustomerService.svc?xsd=xsd0" namespace="Invoice" />
      <xsd:import schemaLocation="http://private.invoice4u.co.il/Services/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://private.invoice4u.co.il/Services/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Invoice.Common" />
      <xsd:import schemaLocation="http://private.invoice4u.co.il/Services/CustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Invoice.Common.Enums" />
      <xsd:import schemaLocation="http://private.invoice4u.co.il/Services/CustomerService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustomerService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CustomerService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="CustomerService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetClientsPaymentDetailes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsPaymentDetailes" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetClientsPaymentDetailes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsPaymentDetailesResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_Autocomplete_InputMessage">
    <wsdl:part name="parameters" element="tns:Autocomplete" />
  </wsdl:message>
  <wsdl:message name="CustomerService_Autocomplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutocompleteResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_AutocompleteMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:AutocompleteMobile" />
  </wsdl:message>
  <wsdl:message name="CustomerService_AutocompleteMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutocompleteMobileResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateExternalNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExternalNumber" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateExternalNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExternalNumberResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByName" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="CustomerService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetByGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByGuid" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetByGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByGuidResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="Invoice/CustomerService/Create" message="tns:CustomerService_Create_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/CustomerService/CreateResponse" message="tns:CustomerService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="Invoice/CustomerService/Get" message="tns:CustomerService_Get_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/CustomerService/GetResponse" message="tns:CustomerService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientsPaymentDetailes">
      <wsdl:input wsaw:Action="Invoice/CustomerService/GetClientsPaymentDetailes" message="tns:CustomerService_GetClientsPaymentDetailes_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/CustomerService/GetClientsPaymentDetailesResponse" message="tns:CustomerService_GetClientsPaymentDetailes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Autocomplete">
      <wsdl:input wsaw:Action="Invoice/CustomerService/Autocomplete" message="tns:CustomerService_Autocomplete_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/CustomerService/AutocompleteResponse" message="tns:CustomerService_Autocomplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutocompleteMobile">
      <wsdl:input wsaw:Action="Invoice/CustomerService/AutocompleteMobile" message="tns:CustomerService_AutocompleteMobile_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/CustomerService/AutocompleteMobileResponse" message="tns:CustomerService_AutocompleteMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="Invoice/CustomerService/GetCustomers" message="tns:CustomerService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/CustomerService/GetCustomersResponse" message="tns:CustomerService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExternalNumber">
      <wsdl:input wsaw:Action="Invoice/CustomerService/UpdateExternalNumber" message="tns:CustomerService_UpdateExternalNumber_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/CustomerService/UpdateExternalNumberResponse" message="tns:CustomerService_UpdateExternalNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <wsdl:input wsaw:Action="Invoice/CustomerService/GetByName" message="tns:CustomerService_GetByName_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/CustomerService/GetByNameResponse" message="tns:CustomerService_GetByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="Invoice/CustomerService/Delete" message="tns:CustomerService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/CustomerService/DeleteResponse" message="tns:CustomerService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByGuid">
      <wsdl:input wsaw:Action="Invoice/CustomerService/GetByGuid" message="tns:CustomerService_GetByGuid_InputMessage" />
      <wsdl:output wsaw:Action="Invoice/CustomerService/GetByGuidResponse" message="tns:CustomerService_GetByGuid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>