Ofek/Web References/Invoice4U_InvoiceDeal/w_invoicedeal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/BillWebService/w_invoicedeal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/BillWebService/w_invoicedeal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/BillWebService/w_invoicedeal">
      <s:element name="SEND">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SENDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SENDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CREATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyTarget" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceDiscount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceDiscountRate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceItemCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceItemDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceItemQuantity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceItemPrice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceTaxRate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceComments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceInternalComment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoicePayByDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IsItemPriceWithTax" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CREATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CREATEResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SENDSoapIn">
    <wsdl:part name="parameters" element="tns:SEND" />
  </wsdl:message>
  <wsdl:message name="SENDSoapOut">
    <wsdl:part name="parameters" element="tns:SENDResponse" />
  </wsdl:message>
  <wsdl:message name="CREATESoapIn">
    <wsdl:part name="parameters" element="tns:CREATE" />
  </wsdl:message>
  <wsdl:message name="CREATESoapOut">
    <wsdl:part name="parameters" element="tns:CREATEResponse" />
  </wsdl:message>
  <wsdl:message name="SENDHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="InvoiceNumber" type="s:string" />
    <wsdl:part name="MailTo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SENDHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="CREATEHttpGetIn">
    <wsdl:part name="CurrencyTarget" type="s:string" />
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="InvoiceSubject" type="s:string" />
    <wsdl:part name="InvoiceDiscount" type="s:string" />
    <wsdl:part name="InvoiceDiscountRate" type="s:string" />
    <wsdl:part name="InvoiceItemCode" type="s:string" />
    <wsdl:part name="InvoiceItemDescription" type="s:string" />
    <wsdl:part name="InvoiceItemQuantity" type="s:string" />
    <wsdl:part name="InvoiceItemPrice" type="s:string" />
    <wsdl:part name="InvoiceTaxRate" type="s:string" />
    <wsdl:part name="InvoiceComments" type="s:string" />
    <wsdl:part name="InvoiceInternalComment" type="s:string" />
    <wsdl:part name="InvoicePayByDate" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="MailTo" type="s:string" />
    <wsdl:part name="IsItemPriceWithTax" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CREATEHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SENDHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="InvoiceNumber" type="s:string" />
    <wsdl:part name="MailTo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SENDHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="CREATEHttpPostIn">
    <wsdl:part name="CurrencyTarget" type="s:string" />
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="InvoiceSubject" type="s:string" />
    <wsdl:part name="InvoiceDiscount" type="s:string" />
    <wsdl:part name="InvoiceDiscountRate" type="s:string" />
    <wsdl:part name="InvoiceItemCode" type="s:string" />
    <wsdl:part name="InvoiceItemDescription" type="s:string" />
    <wsdl:part name="InvoiceItemQuantity" type="s:string" />
    <wsdl:part name="InvoiceItemPrice" type="s:string" />
    <wsdl:part name="InvoiceTaxRate" type="s:string" />
    <wsdl:part name="InvoiceComments" type="s:string" />
    <wsdl:part name="InvoiceInternalComment" type="s:string" />
    <wsdl:part name="InvoicePayByDate" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="MailTo" type="s:string" />
    <wsdl:part name="IsItemPriceWithTax" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CREATEHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="w_invoicedealSoap">
    <wsdl:operation name="SEND">
      <wsdl:input message="tns:SENDSoapIn" />
      <wsdl:output message="tns:SENDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CREATE">
      <wsdl:input message="tns:CREATESoapIn" />
      <wsdl:output message="tns:CREATESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="w_invoicedealHttpGet">
    <wsdl:operation name="SEND">
      <wsdl:input message="tns:SENDHttpGetIn" />
      <wsdl:output message="tns:SENDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CREATE">
      <wsdl:input message="tns:CREATEHttpGetIn" />
      <wsdl:output message="tns:CREATEHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="w_invoicedealHttpPost">
    <wsdl:operation name="SEND">
      <wsdl:input message="tns:SENDHttpPostIn" />
      <wsdl:output message="tns:SENDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CREATE">
      <wsdl:input message="tns:CREATEHttpPostIn" />
      <wsdl:output message="tns:CREATEHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="w_invoicedealSoap" type="tns:w_invoicedealSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SEND">
      <soap:operation soapAction="http://tempuri.org/BillWebService/w_invoicedeal/SEND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CREATE">
      <soap:operation soapAction="http://tempuri.org/BillWebService/w_invoicedeal/CREATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="w_invoicedealSoap12" type="tns:w_invoicedealSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SEND">
      <soap12:operation soapAction="http://tempuri.org/BillWebService/w_invoicedeal/SEND" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CREATE">
      <soap12:operation soapAction="http://tempuri.org/BillWebService/w_invoicedeal/CREATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="w_invoicedealHttpGet" type="tns:w_invoicedealHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SEND">
      <http:operation location="/SEND" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CREATE">
      <http:operation location="/CREATE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="w_invoicedealHttpPost" type="tns:w_invoicedealHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SEND">
      <http:operation location="/SEND" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CREATE">
      <http:operation location="/CREATE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="w_invoicedeal">
    <wsdl:port name="w_invoicedealSoap" binding="tns:w_invoicedealSoap">
      <soap:address location="https://account.invoice4u.co.il/Public/w_invoicedeal.asmx" />
    </wsdl:port>
    <wsdl:port name="w_invoicedealSoap12" binding="tns:w_invoicedealSoap12">
      <soap12:address location="https://account.invoice4u.co.il/Public/w_invoicedeal.asmx" />
    </wsdl:port>
    <wsdl:port name="w_invoicedealHttpGet" binding="tns:w_invoicedealHttpGet">
      <http:address location="https://account.invoice4u.co.il/Public/w_invoicedeal.asmx" />
    </wsdl:port>
    <wsdl:port name="w_invoicedealHttpPost" binding="tns:w_invoicedealHttpPost">
      <http:address location="https://account.invoice4u.co.il/Public/w_invoicedeal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>